
html, body {
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

header {
    display: block;
    background-color: #286af0;
    padding: 15px 0px;
}

footer {
    clear: both;
    position: relative;
    padding: 5px 0px;
    background-color: #286af0;
    text-align: center;
    color: #fafafa;
    text-decoration: underline;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

.imagen {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.txtcentrado {
    text-align: center;
}

section {
    background-color: #ccc;
    padding: 30px 0px 70px 0px;
    overflow: auto;
    float: right;
    width: 79%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 450px;
}


aside {
    float: left;
    width: 19%;
    margin-top: 10px;
    margin-left: 10px;
    border: solid;
    border-color: red;
    padding: 10px 0px 10px 0px;
}